/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


// Colors
$danger: #dc3545;

body {
  font-family: 'Roboto',
    sans-serif;
}

.text-api,
.text-logo {
  font-family: 'Bree Serif',
    serif;
  transition: all .3s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

.text-api {
  font-size: 2em;
}

.text-logo {
  font-size: 1em;
}

@media (max-width: 1125px) {

  button.navbar-toggler {
    border: 0 !important;
  }

  .form-mobile {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;

    input.form-control {
      width: 100% !important;
    }

    button.btn-search {
      position: absolute !important;
      right: 0 !important;
    }
  }
}

@media (min-width: 768px) {

  nav.container.navbar {
    padding: 0 !important;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .item.slide-prin.carousel-item {
    .item {
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-car {
        height: auto;
        width: 100%;
        filter: brightness(.5);
      }
    }
  }

  .card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

 .img-car {
   height: 100%;
   width: 100%;
   filter: brightness(.5);
 }

.carousel-caption {
  h3 {
    text-shadow: 2px 2px 5px black;
  }
}

.collapse.navbar-collapse {
  justify-content: space-between;
}

.btn-search {
  color: $danger;
  transition: all .3s ease-in-out;

  &:hover {
    color: white;
  }
}

.text-top {
  line-height: 14px;
}

.img-icon {
  width: 25px;
  height: auto;
}

.img-coin {
  width: 25px !important;
  height: auto !important;
  filter: brightness(1);
}

.img-portal {
  width: 50px;
  height: auto;
}

.img-portalh {
  width: 100px;
  height: auto;
}

.form-inline {
  position: relative;

  input {
    border: 0;
  }
}

.link-article {
  transition: all .3s ease-in-out;
  color: $danger;

  &:hover {
    color: darken($danger, 12);
    text-decoration: none;
  }
}

.coins {
  .carousel.slide {
    ol.carousel-indicators {
      display: none;
    }
  }
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;

  select {
    background: #343a40 !important;
    border: 0;
    border-radius: 2px;
    height: 25px;
    color: white;
  }

  label {
    i {
      color: gray;
      margin-right: .4em;
    }
  }
}

.border-none {
  border: 0;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
